.App {
  text-align: center;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: jediFont;
  src: url(./assets/fonts/Starjedi.ttf)
}

h1 {
  font-family: jediFont;
  font-size: 4rem;
  color: rgb(224,214,74);
  margin: 0;
}